name: "NixTest"
on: [push, pull_request]

defaults:
  run:
    shell: bash
  jobs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
    steps:
      # v2.1.0
    - uses: actions/checkout@01aecccf73

jobs:
  tests:
    steps:
      # v2.1.0
    - uses: actions/checkout@01aecccf73
      # v8
    - uses: cachix/install-nix-action@ebed63b0a2
    - name: Print nix.conf
      run: cat /etc/nix/nix.conf
