name: "Nixpkgs"
on:
  pull_request:
  push:
jobs:
  # Inititally was going to test caching /nix/store , but ran into permissions issues between jobs
  # https://github.com/actions/cache/issues/133
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v8
    - name: Print nix.conf
      run: cat /etc/nix/nix.conf
    - name: list /nix/store
      run: sudo ls -lart -hu /nix/store
    - name: nix build test
      run: nix-build tests/nix/default.nix
    #- name: Get/Create cache nix-store
      #uses: actions/cache@v1
      #with:
        #key: ${{ runner.os }}-${{ github.sha }}
        #path: /nix/store

  build-nix-cache:
    needs: "tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v8
    #- name: Get/Create cache nix-store
      #uses: actions/cache@v1
      #with:
        #key: ${{ runner.os }}-${{ github.sha }}
        #path: /nix/store
    - name: Create output path
      run: mkdir -p _output/cache
    - name: Create channel archive
      if: startsWith(matrix.os,'ubuntu')
      run: |
        tar -cJf "_output/nixexprs.tar.xz" tests/nix \
            --transform "s,^,${PWD##*/}/," \
            --owner=0 --group=0 --mtime="1970-01-01 00:00:00 UTC"

        touch "_output/index.html"
        printf 'https://nixpkgs.raunco.co/cache' > "_output/binary-cache-url"
    - name: nix build test
      run: nix-build tests/nix/default.nix
    - name: copy cache
      run: |
        nix copy -f tests/nix/default.nix --to "file:///$PWD/_output/cache"
        nix path-info -f tests/nix/default.nix --store "file:///$PWD/_output/cache" --json | json_pp
    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: nix-artifacts-${{ matrix.os }}-${{ github.sha }}
        path: _output

  combine-test:
    needs: "build-nix-cache"
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Cleanup tasks
      run: |
        sudo df -h
        sudo apt clean
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo df -h

    - name: Download linux artifacts
      uses: actions/download-artifact@v1
      with:
        name: nix-artifacts-ubuntu-18.04-${{ github.sha }}
        path: nix-artifacts-ubuntu-18.04-${{ github.sha }}
    - name: Download mac artifacts
      uses: actions/download-artifact@b85295d276
      with:
        name: nix-artifacts-macos-10.15-${{ github.sha }}
        path: nix-artifacts-macos-10.15-${{ github.sha }}
    - name: Combine cache files
      run: |
        ls -lart -hu
        mkdir -p _output
        cp -r nix-artifacts-macos-10.15-${GITHUB_SHA}/. _output
        cp -r nix-artifacts-ubuntu-18.04-${GITHUB_SHA}/. _output
    - name: Upload combined artifacts
      uses: actions/upload-artifact@v1
      with:
        name: nix-artifacts-combined-${{ github.sha }}
        path: _output
